<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBName" value="WCStats.sqlite"/>
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=./WCStats.sqlite" providerName="System.Data.sqlclient"/>
	</connectionStrings>
</configuration>